
img src="image.png"/

a< href='url1' Link1
a> href='url1' Link1
a<> href='url2' Link2

ul
  li.first: a href="/a" A link
  li: a href="/b" B link

ul.wrapped
  li.first: a[href="/a"] A link
  li: a[href="/b"] B link


