


body
  p
    |
      This is a test of text block
        a
          b
  p 
    | This is anotehr test of text block3
       a
         b
           c
             d
               e
  p
    '  this is a test of text bock with trailing white space 


<p>
  asdfasfasfd
</p>

body
  - if [].empty?
    | No inventory


/This is code comment, nothing append to utput

/! safsafasf


/[if lt ie6]


doctype 1.1
doctype mobile
doctype strict
doctype frameset
doctype transitional


img src="image.png"/

a> href='url1' Link1
a> href='url2' Link2

a< href='url1' Link1
a< href='url2' Link2

a<> href='url1' Link1


ul
  li.first: a href="/a" A link
  li: a href="/b" B link

ul
  li.first: a[href="/a"] A link
  li: a[href="/b"] B link


